#root {
}

.namelist {
  display: flex;
  flex-wrap: wrap;
}

.name {
  margin: 0.3rem;
}

.f {
  background-color: pink;
  border-radius: 0.25rem;
}

.m {
  background-color: blue;
  border-radius: 0.25rem;
}
