.namelist {
  display: flex;
  flex-wrap: wrap;
}

.name {
  margin: 0.3rem;
}

.f {
  background-color: pink;
  border-radius: 0.25rem;
}

.m {
  background-color: blue;
  border-radius: 0.25rem;
}

.search {
  display: flex;
  align-items: center;

  margin: 10px;
}
/* buttons start */
.form_radio_btn {
  display: inline-block;
  margin-left: 10px;
  border: 3px;
  vertical-align: middle;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: inline-block;
  cursor: pointer;

  border: 1px solid #999;
  display: flex;
  user-select: none;
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}
/* buttons end*/
